.app-loader {
    display: flex;
    align-items: center;
}

.home {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.home.row .col.m6 {
    margin-left: 0;
}

.card {
  position: relative;
}

.card-date {
  position: absolute;
  top: 10px;
  right: 10px;
}

.sort-notes {
  display: flex;
  align-items: center;
}

.sort-notes .material-icons {
  margin-left: 5px;
  transition: .2s;
}

.sort-notes.desc .material-icons {
  transform: rotate(180deg);
}
